{#
/**
 * @file
 * GovCMS Front theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - classes: The CSS class for breadcrumb.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" {{ attributes.addClass(classes) }}>
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <a>{{ item.text }}</a>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
