<p>
  <button class="au-btn {{modifier_class}}" type="button">Standard button</button>
  <button class="au-btn {{modifier_class}}" type="button" disabled>Disabled button</button>
</p>
<p>
  <input class="au-btn {{modifier_class}}" type="button" value="Input type button">
  <input class="au-btn {{modifier_class}}" type="button" value="Disabled input type button" disabled>
</p>
<p>
  <a class="au-btn {{modifier_class}}" href="#">Link as button</a>
</p>
