{#
/**
* Template for 1 column layout.
* Sidebar is bellow the content.
* Everything goes edge to edge.
*/
#}
{%
  set classes = [
  'page-layout',
  'page-layout--edgy',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content.header|render|striptags|trim %}
    <section class="page-layout__content-header-section">
      <div class="container">
        <div class="row">
          <div class="page-layout__content-header">
            {{ content.header }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if content.content_top|render|striptags|trim or content.content|render|striptags|trim or content.content_bottom|render|striptags|trim %}
    <section class="page-layout__content-section">
      {% if content.content_top|render|trim %}
        <div class="row">
          <div class="page-layout__content-top">
            {{ content.content_top }}
          </div>
        </div>
      {% endif %}
      {% if content.content|render|striptags|trim %}
        <div class="row">
          <div class="page-layout__content">
            {{ content.content }}
          </div>
        </div>
      {% endif %}
      {% if content.content_bottom|render|striptags|trim %}
        <div class="row">
          <div class="page-layout__content-bottom">
            {{ content.content_bottom }}
          </div>
        </div>
      {% endif %}
    </section>
  {% endif %}
  {% if content.footer|render|striptags|trim %}
    <section class="page-layout__content-footer-section">
      <div class="row">
        <div class="page-layout__content-footer">
          {{ content.footer }}
        </div>
      </div>
    </section>
  {% endif %}
</div>
