{#
/**
* Stack simple. Regions are in layers on top of each other.
*
* List of regions: title, info, tags, image.
*/
#}

{%
  set classes = [
  'stack',
  'stack--simple',
]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {% block image %}
    {% if content.image|render|striptags('<img>')|trim %}
      <div class="stack__image">
        {{ content.image }}
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}
    {% if content %}
      <div class="stack__content">

        {% block title %}
          {% if content.title|render|striptags|trim %}
            <h3 class="stack__title">
              {{ content.title }}
            </h3>
          {% endif %}
        {% endblock %}

        {% block info %}
          {% if content.info|render|striptags|trim %}
            <div class="stack__info">
              {{ content.info }}
            </div>
          {% endif %}
        {% endblock %}

        {% block tags %}
          {% if content.tags|render|striptags|trim %}
            <div class="stack__tags">
              {{ content.tags }}
            </div>
          {% endif %}
        {% endblock %}

      </div>
    {% endif %}
  {% endblock %}

</div>

